<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [11]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=*******" #Make sure to change ******* to your API key.
response = requests.get(url)
data = response.json()
data

{'success': True,
 'timestamp': 1664455083,
 'base': 'EUR',
 'date': '2022-09-29',
 'rates': {'AED': 3.560658,
  'AFN': 85.609349,
  'ALL': 116.132071,
  'AMD': 393.508559,
  'ANG': 1.747548,
  'AOA': 419.621109,
  'ARS': 142.317173,
  'AUD': 1.499959,
  'AWG': 1.744922,
  'AZN': 1.645577,
  'BAM': 1.952177,
  'BBD': 1.957836,
  'BDT': 98.154669,
  'BGN': 1.95626,
  'BHD': 0.365519,
  'BIF': 2002.842538,
  'BMD': 0.969401,
  'BND': 1.394391,
  'BOB': 6.700326,
  'BRL': 5.235445,
  'BSD': 0.96968,
  'BTC': 5.0544289e-05,
  'BTN': 79.398903,
  'BWP': 12.928738,
  'BYN': 2.44752,
  'BYR': 19000.256891,
  'BZD': 1.954532,
  'CAD': 1.330352,
  'CDF': 1985.332496,
  'CHF': 0.953246,
  'CLF': 0.033859,
  'CLP': 934.115694,
  'CNY': 6.916867,
  'COP': 4352.619563,
  'CRC': 612.959745,
  'CUC': 0.969401,
  'CUP': 25.689123,
  'CVE': 110.056202,
  'CZK': 24.685697,
  'DJF': 172.623391,
  'DKK': 7.43672,
  'DOP': 51.735914,
  'DZD': 136.48583,
  'EGP': 18.960414,
  'ERN': 14.541013,
  'ETB': 51.235553,
  'EUR': 1,
  'FJD': 2.238879,
  'FKP': 0.83814,
  'GBP': 0.893032,
  'GEL': 2.743978,
  'GGP': 0.83814,
  'GHS': 10.084376,
  'GIP': 0.83814,
  'GMD': 53.675639,
  'GNF': 8380.044681,
  'GTQ': 7.631298,
  'GYD': 202.869304,
  'HKD': 7.609845,
  'HNL': 23.941073,
  'HRK': 7.528562,
  'HTG': 117.327827,
  'HUF': 422.754721,
  'IDR': 14730.870086,
  'ILS': 3.448978,
  'IMP': 0.83814,
  'INR': 79.292095,
  'IQD': 1415.226143,
  'IRR': 41054.12616,
  'ISK': 140.097791,
  'JEP': 0.83814,
  'JMD': 147.227478,
  'JOD': 0.687298,
  'JPY': 140.328048,
  'KES': 117.026125,
  'KGS': 77.729372,
  'KHR': 3993.027443,
  'KMF': 494.198248,
  'KPW': 872.460819,
  'KRW': 1390.241995,
  'KWD': 0.300873,
  'KYD': 0.807984,
  'KZT': 462.731657,
  'LAK': 15999.276409,
  'LBP': 1466.156233,
  'LKR': 348.589451,
  'LRD': 148.827243,
  'LSL': 17.284225,
  'LTL': 2.862389,
  'LVL': 0.586381,
  'LYD': 4.918496,
  'MAD': 10.726371,
  'MDL': 18.892148,
  'MGA': 4113.740322,
  'MKD': 61.597581,
  'MMK': 2036.266126,
  'MNT': 3125.776908,
  'MOP': 7.840088,
  'MRO': 346.075941,
  'MUR': 43.766043,
  'MVR': 14.97689,
  'MWK': 995.238975,
  'MXN': 19.560028,
  'MYR': 4.493656,
  'MZN': 61.876923,
  'NAD': 17.274802,
  'NGN': 422.174868,
  'NIO': 34.878548,
  'NOK': 10.459622,
  'NPR': 127.038605,
  'NZD': 1.706679,
  'OMR': 0.373313,
  'PAB': 0.969581,
  'PEN': 3.826719,
  'PGK': 3.416688,
  'PHP': 56.823402,
  'PKR': 222.04991,
  'PLN': 4.858135,
  'PYG': 6842.465584,
  'QAR': 3.529583,
  'RON': 4.947437,
  'RSD': 117.328606,
  'RUB': 56.429306,
  'RWF': 1026.483742,
  'SAR': 3.644273,
  'SBD': 7.894275,
  'SCR': 12.775662,
  'SDG': 559.827598,
  'SEK': 10.955514,
  'SGD': 1.395394,
  'SHP': 1.335252,
  'SLL': 15020.866808,
  'SOS': 550.619911,
  'SRD': 27.411267,
  'STD': 20064.640627,
  'SVC': 8.484079,
  'SYP': 2435.649055,
  'SZL': 17.422475,
  'THB': 37.004006,
  'TJS': 9.565649,
  'TMT': 3.402597,
  'TND': 3.191756,
  'TOP': 2.34881,
  'TRY': 17.975892,
  'TTD': 6.592529,
  'TWD': 30.779432,
  'TZS': 2261.238033,
  'UAH': 35.636027,
  'UGX': 3742.876271,
  'USD': 0.969401,
  'UYU': 40.013531,
  'UZS': 10679.573896,
  'VND': 23105.669541,
  'VUV': 115.321746,
  'WST': 2.642178,
  'XAF': 654.728363,
  'XAG': 0.052144,
  'XAU': 0.000588,
  'XCD': 2.619854,
  'XDR': 0.765364,
  'XOF': 654.728363,
  'XPF': 119.914518,
  'YER': 242.592257,
  'ZAR': 17.451494,
  'ZMK': 8725.772431,
  'ZMW': 15.296196,
  'ZWL': 312.146682}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [12]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(data)
dataframe

     success   timestamp base        date        rates
AED     True  1664455083  EUR  2022-09-29     3.560658
AFN     True  1664455083  EUR  2022-09-29    85.609349
ALL     True  1664455083  EUR  2022-09-29   116.132071
AMD     True  1664455083  EUR  2022-09-29   393.508559
ANG     True  1664455083  EUR  2022-09-29     1.747548
..       ...         ...  ...         ...          ...
YER     True  1664455083  EUR  2022-09-29   242.592257
ZAR     True  1664455083  EUR  2022-09-29    17.451494
ZMK     True  1664455083  EUR  2022-09-29  8725.772431
ZMW     True  1664455083  EUR  2022-09-29    15.296196
ZWL     True  1664455083  EUR  2022-09-29   312.146682

[167 rows x 5 columns]

In [13]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.560658
AFN    85.609349
ALL   116.132071
AMD   393.508559
ANG     1.747548
..           ...
YER   242.592257
ZAR    17.451494
ZMK  8725.772431
ZMW    15.296196
ZWL   312.146682

[167 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [14]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).